.navbar{
    position: sticky;
    top: 0;
    background-color: rgb(190, 49, 49)!important;
    z-index: 99999;
}

.nav-main-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

section.hero {
    height: 93vh !important;
    position: relative;
    z-index: 1;
}

section.hero .carousel-inner {
    height: 93vh !important;
    position: relative !important;
    z-index: 1 !important;
}

section.hero .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.702); 
}

section.hero .carousel-caption {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    z-index: 10;
}

section.hero .carousel-caption h5 {
    font-size: 3.7rem;
    text-wrap: nowrap;
    font-weight: bolder;
}

section.hero .carousel-caption p {
    width: 70%;
    font-size: 1.3rem;
    line-height: 2;
}

@media (max-width: 767px) {
    .nav-main-links {
        align-items: flex-start;
        justify-content: center;
        padding-top: 2rem;
        height: 100vh;
    }
}

section.hero {
    height: auto;
}

.carousel-inner {
    height: 100vh !important;
}
.carousel-inner img {
    height: 100vh;
    object-fit: cover;
}
.carousel-caption {
    height: 80%;
}
.carousel-caption h5 {
    font-size: 1.8rem !important;
    padding-top: 3rem !important;
    text-wrap: wrap !important;
    padding-bottom: 1rem;
}

.carousel-caption p {
    width: 100%;
    font-size: 1.1rem;
    line-height: 2;
}

section.third {
    padding: 3rem;
}

section.third img {
    height: 200px;
    object-fit: cover;
}

section.third .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.third .top {
    width: 90%;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.8;
    padding-bottom: 1.3rem;
}

section.third .top h1 {
    font-size: 3.5rem;
    padding-bottom: 1rem;
}

section.third .top h4 {
    color: rgb(132, 97, 6);
    font-size: 2rem;
}

section.third .card {
    width: 100%;
}

section.third .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width: 767px) {

}